includes:
    - ../../vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
    tmpDir: build/phpstan

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - identifier: staticMethod.notFound
